* {
    font-family: monospace;
}

button {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#calculator {
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(183, 204, 243);
    box-shadow: 3px 3px darkblue;
}

#display {
    min-height: 5em;
    background-color: rgb(252, 251, 235);
    padding: 5px;
    margin-bottom: .75em;
    border: inherit;
    box-shadow: 2px 2px #2e3436;
    font-size: 18px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#inputs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 4px;
    row-gap: 4px;
}

#inputs button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    border: 1px solid black;
    background-color:rgb(229, 237, 253);
    box-shadow: 2px 2px darkblue;
    font-weight: bold;
    font-size: 12px;
}

button[id="0"] {
    grid-column: 1 / span 2;
}

#equals {
    grid-column: 1 / span 2;
    grid-row: 5 / span 2;
}